site_name: packagename
site_url: https://RomanSpaceTelescope.github.io/talbotextractor/
docs_dir: docs

nav:
  - Home: README.md
  - API: apidocs.md
  
theme:
  name: "material"
  icon:
    logo: material/checkbox-blank
  features:
    - content.code.copy
    - content.code.annotate 
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

repo_url: https://github.com/RomanSpaceTelescope/talbotextractor
plugins:
  - search
  - include-markdown
  - mkdocs-jupyter:
      execute: false
  - mkdocstrings:
      watch:
        - src/packagename
      default_handler: python      
      handlers:
        python:
          options:
            show_source: false
            filters:
              - "!^_"
            heading_level: 2  # Ensures API docs have an H2 header for structure
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
  - tables
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
